#homeHeader .container {  
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 10px;
}

.userImform{
    justify-content: right;
    font-size: 20px;
}

.userImform a{
    color: rgb(160, 155, 3);
}

.userImform a:hover{
    color: rgb(214, 207, 72);
    text-decoration: none;
}

.iconHome {
    display: inline;
}

.iconHome img{
    width: 100px; 
}

.containerProgress {
    margin-top: 70px;
}

.label {
    margin-top: 8px;
    margin-left: 8px;
    color: #879bae;
}

.header h5{
    color: rgb(214, 207, 72);
}
/* navEND */
/* 使用者資訊 */
.card-img-top {
    width: 496px;
    height: 350px;
}
.box {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 45px;
    border-style: solid;
}
.Delete{
    margin-left: auto;
        margin-right: auto;
        width: 85px;
        margin-top: 45px;
        border-style: solid;
}
/* 使用者資訊END */
/* 搜索框 */

/* 搜索框END */

@media (min-width: 576px){
    /* .jumbotron {
        padding: 1rem 2rem 1rem 2rem;
    } */
}
