#homeHeader .container1{
    display: flex;
    height: 100px;
}

#homeHeader {
    position: fixed;
    width: 100%;
    top: 0;
    opacity: 0.9;
}

.jumbotron {
    padding: 10px 1rem 1rem 1rem;
    background: #343d46;
    margin-bottom: 0;
}

.image img{
    width: 100%;
    top: 0;
}

/* nav */
.header{
    height: 25px;
    background-color: #343d46;
    display: flex;
    justify-content: end;
}
nav{
    position: relative;
    left: 0;
    display: flex;
    width: auto;
    height: auto;
    top: 0;
}
nav a{
    padding-right: 10px;
    color: rgb(160, 155, 3);
}
nav a:hover{
    padding-right: 10px;
    color: rgb(183, 179, 63);
    text-decoration: none;
}
.header h5{
    color: rgb(214, 207, 72);
}
/* navEND */

.iconHome{
    justify-content:left;
    margin-left: 50px;
}
.iconHome img{
    width: 200px; 
}

/* 搜索框 */
.box{
    margin: auto;
    width: 800px;
}

.container-1{
    width: 800px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}

.container-1 input#search{
    width: 800px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* 搜索框END */

.userImform{
    justify-content: right;
    margin: auto 50px;
}

.userImform div{
    font-size: 30px;
    color: #fff;
}

@media (min-width: 576px){

}
