.price {
    display: inline;
}

.addToCart {
    display: inline;
}

.iconHome {
    display: inline;
}

.iconHome img{
    width: 100px; 
}

.registerForm {
    font-size: 35px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.container {  
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 10px;
}

.containerOrder {
    max-width: 1200px;
    margin: auto;
    margin-top: 70px;
}

.productHeader {
    max-width: 800px;
    margin: auto;
}

.productImformation {
    padding: 20px;
    background-color: beige;
}

.ImformationTitle {
    background-color: white;
    font-size: 35px;
    margin-bottom: 10px;
}

.ImformationBox {
    font-size: 20px;
    margin-bottom: 15px;
}

.userImform{
    justify-content: right;
    margin: auto 50px;
    font-size: 30px;
    color: #fff;
}

textarea {
    width: 1160px;
}